
/bin
/DocumentStore
/Kistl.Parties.Client/obj
/Kistl.Parties.Client/bin
/Kistl.Parties.Client/Kistl.Parties.Client.csproj.user
/Kistl.Parties.Common/Kistl.Parties.Common.csproj.user
/Kistl.Parties.Common/bin
/Kistl.Parties.Common/obj
/Kistl.Parties.Server/Kistl.Parties.Server.csproj.user
/Kistl.Parties.Server/bin
/Kistl.Parties.Server/obj
/Kistl.Parties.suo
/Libs/Kistl/Kistl.Client.WPF.PerfCounter.Objects.csv
/Libs/Kistl/Kistl.Client.WPF.PerfCounter.Main.csv
/Libs/Kistl/Kistl.Client.WPF.PerfCounter.Methods.csv
/Libs/Kistl/Kistl.Server.Service.PerfCounter.Objects.csv
/Libs/Kistl/Kistl.Server.Service.PerfCounter.Main.csv
/Libs/Kistl/Kistl.Server.Service.PerfCounter.Methods.csv
/Libs/Kistl/Kistl.Client.WPF.log
/Libs/Kistl/Kistl.Server.Service.log
/Libs/Kistl/Kistl.Client.WPF.log.1
/Libs/Kistl/Kistl.Server.Service.log.1
/Libs/Kistl/SchemaReport.log.2011-10-20
/Libs/Kistl/Kistl.Client.WPF.log.2
/Libs/Kistl/SchemaReport.log.2011-10-21
/Configs/Local