/Configs/Local
/DocumentStore
/Zetbox.Parties.Client.Tests/bin
*.suo
*.csproj.user
bin
obj
/NuGetPackages/*.nuspec
/NuGetPackages/*.targets

# Only commit repositories.config. The rest of /packages is only a local cache
!/packages/repositories.config
/packages/*
