*.csproj.user
*.suo
/Configs/Local
/DocumentStore
/Libs/Zetbox/*.csv
/Libs/Zetbox/*.log*
/Libs/Zetbox/*.log.*
/bin
obj
/Zetbox.Parties.Client.Tests/bin
/Libs/Zetbox/Tests
/packages/LinqCube.*
/packages/zetboxBasic*
/packages/Arebis.CodeGenerator.*