
/* http://stackoverflow.com/a/11008050/178517 */
body {
    padding-bottom: 20px;
    height: 100%;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    min-height: 100%;
}

.footer {
    height: 40px;
    margin-top: -40px;
}

.nav.buttoncontainer {
    margin-top: 8px;
}

/* Limit the width of forms. Full size is not very attractive */
.form-horizontal {
    max-width: 650px;
}

    /* Sometimes there is a need for stretched forms, like search forms over a result table */
    .form-horizontal.stretch {
        max-width: none;
    }

.form-control[readonly].allow-copy {
    cursor: text;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

embed.preview {
    width: 100%;
    height: 30em;
}

img.preview {
    width: 100%;
}

div.preview,
pre.preview {
    width: 100%;
    height: 30em;
    overflow: auto;
}


.voffset {
    margin-top: .33em;
}

.voffset1 {
    margin-top: .67em;
}

.voffset2 {
    margin-top: 1em;
}

.voffset3 {
    margin-top: 1.33em;
}

.voffset4 {
    margin-top: 1.67em;
}

.voffset5 {
    margin-top: 2em;
}

/* custom stuff */


