<%@ CodeTemplate Language="C#" 
    Name="Common.Signature"
    ClassName="Zetbox.Parties.Client.Reporting.Common.Signature"
    Inherits="Zetbox.Parties.Client.Reporting.ReportTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.Basic.Parties" %>
<%@ Parameter Name="party" Type="Zetbox.Basic.Parties.Party" %>

\paragraph [ Format { SpaceBefore = "3cm" } ] {
    <%= FormatName(party) %>
}