<%@ CodeTemplate Language="C#" 
    Name="Common.Address"
    ClassName="Kistl.Parties.Client.Reporting.Common.Address"
    Inherits="Kistl.Parties.Client.Reporting.ReportTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="ZBox.Basic.Parties" %>
<%@ Parameter Name="party" Type="ZBox.Basic.Parties.Party" %>

<%= FormatName(party) %>
\linebreak
\linebreak
Test Street 12234
\linebreak
1234 Vienna